<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ocrad.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">בדיקת טופס לוטו</h1>
      </ion-header-bar>
      <ion-content ng-controller="CaptureCtrl">

        <img style="width: 100%;" id="pic" src="">

        <!-- <div class="list" ng-repeat="result in results" ng-if="results">
        {{ result }}
        </div> -->

        <ion-list show-delete="false"
          show-reorder="false"
          can-swipe="true" ng-if="results">
          <div class="item item-divider">Returned Text:</div>
          <ion-item>
          {{returnedText}}
          </ion-item>
          <div class="item item-divider">Your results:</div>
          <ion-item ng-repeat="result in results" ng-if="results" >
            <!-- {{$index + 1}} - {{result | filter:customArrayFilter}} -->
            {{$index + 1}} - {{result}}
             <ion-option-button class="button-assertive" ng-click="edit(item)">
              Edit
            </ion-option-button>
            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
            </ion-delete-button>
          </ion-item>
        </ion-list>

        <div class="padding" ng-if="results">
        <div class="item item-divider">Choose round and check win:</div>
          <ion-item >
            <label class="item item-input" ion-item>
                <input type="number" placeholder="{{roundNumber}}" />
            </label>
          </ion-item>
          <button ng-click="checkWining(results,roundNumber)" class="button button-full button-positive">
            בדוק זכייה 
          </button>
          
        </div>

        <div class="padding" ng-if="showAnalyzeButton">

            <button ng-click="analyzeText()" class="button button-full button-positive">
              סרוק טופס
            </button>
            <button ng-click="showActionSheet()" class="button button-full button-positive">
              טופס נוסף
            </button>
         </div>
        <button ng-if="!showAnalyzeButton" ng-click="showActionSheet()" class="button button-full button-positive">
              סרוק טופס
        </button>
         

      </ion-content>
    </ion-pane>
  </body>
</html>
